<html>
<head>
  <meta charset="UTF-8">
  <script src="js/jquery.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-ui-router.min.js"></script>
  <script src="js/ng-infinite-scroll.min.js"></script>
  <script src="js/comics.js"></script>
</head>
<body ng-controller="TestController">
<div ui-view infinite-scroll="more.load()" infinite-scroll-distance="0" class="main-container"></div>
<character ng-repeat="character in more.characters" class="character-container ng-scope">
  <a>
    <div class="character" style="background-image: url({{character.url}})">
      <h3 class="ng-binding">{{character.name}}</h3>
    </div>
  </a>
</character>
</body>
</html>