* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

a:link,
a:visited,
a:hover {
  color: rgba(0, 0, 0, 0.9);
}

.main-container {
  overflow: hidden;
}

.character-container {
  -webkit-transform: translateZ(0);
}

.character {
  width: 20%;
  height: auto;
  padding-bottom: 20%;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.5;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.character h3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  background-color: #ffffff;
  padding: 1%;
  margin: 0px;
}
.character:hover {
  cursor: pointer;
  opacity: 1;
}